.idea/*
winemag-data-130k-v2.csv
winemag-data-130k-v2.csv.zip
iris.csv
fifa.csv
flight_delays.csv
insurance.csv
iris_setosa.csv
iris_versicolor.csv
iris_virginica.csv
spotify.csv
cancer_b.csv
cancer_m.csv